/* stylelint-disable shorthand-property-no-redundant-values */
.container {
  display: flex;
  flex-wrap: nowrap;
  min-width: 0;
  overflow: hidden;
}

.containerVertical {
  min-width: 0;
  overflow: hidden;
}

.resizableArea {
  min-width: 200px;
  max-width: 1000px;
  border: 2px solid var(--mantine-primary-color-filled);
  padding: 20px 10px 10px 10px;
  position: relative;
  resize: horizontal;
}

.resizableAreaVertical {
  resize: vertical;
}

.resizableArea::after {
  content: 'Resizable Area';
  position: absolute;
  padding: 1px 4px 1px;
  top: -2px;
  left: -2px;
  font-family: monospace;
  font-size: 15px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
  color: var(--mantine-color-body);
  background-color: var(--mantine-primary-color-filled);
}

.verticalItem {
  display: block;
}
